[flake8]
indent-size = 4
extend-ignore =
    # star imports
    F403,
    # star imports
    F405,
    # line break before binary operator
    W503,
    # continuation line under-indented for visual indent
    E128,
    # multiple spaces before operator
    E221,
    # unexpected spaces around keyword / parameter equals
    E251,
    # multiple statements with colon
    E701,
    # do not assign a lambda expression
    E731,
    # ambiguous variable name 'l'
    E741
extend-select =
    # continuation line over-indented for visual indent
    E127,
    # missing whitespace around arithmetic operator
    E226,
    # missing whitespace after ','
    E231,
    # unexpected spaces around keyword / parameter equals
    E251,
    # too many leading '#' for block comment
    E266,
    # too few blank lines
    E302,
    # too many blank lines
    E303,
    # line too long
    E501,
    # f-string is missing placeholders
    E541
